<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>HOME</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- <script src="JavaScript.js"></script> -->
    <style>
      h1 {
        padding-top: 40px;
        font-size: 50px;
      }

      h2 {
        font-family: Noto;
        font-size: 60px;
      }

      p {
        padding-top: 20px;
        padding-left: 290px;
        padding-right: 290px;
      }
    </style>
  </head>
  <body>
   

    <!-- <%- include('./Navbar') %> -->
    <!-- <nav>
      <div class="menu-icon">
        <span class="fas fa-bars"></span>
      </div>
      <div class="logo">Lexxiv</div>
      <div class="nav-items">
        <a href="/">HOME</a>
        <a href="Service.html">SERVICE</a>
        <a href="/About">ABOUT</a>
        <a href="/Contact">CONTACT</a>
        <a href="Booking.html">BOOKING</a>
        <div class="dropdown">
          <button class="dropbtn">
            CATALOG
            <i class="fas fa-angle-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="Men.html">Men</a>
            <a href="/Women">Women</a>
            <a href="Kids.html">Kids</a>
            <a href="LuxuryWatches.html">Luxury Watches</a>
          </div>
        </div>
      </div>
      <div class="search-icon">
        <span class="fas fa-search"></span>
      </div>
      <div class="cancel-icon">
        <span class="fas fa-times"></span>
      </div>
      <form action="#">
        <input
          type="search"
          class="search-data"
          placeholder="Search"
          required
        />
        <button type="submit" class="fas fa-search"></button>
      </form>
      <div class="login-icon">
        <a href="/Login"><i class="fa fa-user"></i></a>
      </div>
    </nav> -->
    <!-- <div class="content">
      <header class="space">Responsive Navbar with Search Box</header>
      <div class="space text">using HTML CSS & JavaScript</div>
    </div> -->

    <div class="slider-box">
      <div id="slider">
        <img src="/Images/Front.jpg" alt="" />
      </div>
      <div class="image-caption">
        <!-- <main>
          <div class="nowAvailable">
            <a href="#" class="available">Now Available</a>
          </div>
        </main> -->

        <h2>Shop Vintage Watches</h2>
        <center>
          <p>
            A Curated collection Of Rolex, Patek Phillippe, Audemars Piguet,
            Omega and more
          </p>
        </center>

        <main>
          <div class="preOrderNow">
            <a href="#" class="preOrder">PRE - ORDER NOW</a>
          </div>
        </main>
      </div>
    </div>
    <center>
      <h1 style="font-family: Garamond">Trending Now</h1>
      <p>
        We are happy to introduce the new Lawson Collection. These are three
        quartz models designed with simplicity and elegance kept in mind.
      </p>
    </center>
    <center>
      <div class="watchImg">
        <div class="pic">
          <img
            class="space"
            src="/Images/1 Img.jpg"
            alt="nothing"
            style="width: 100%"
          />
          &nbsp;
          <!-- </div> -->
          <!-- <div class="pic"> -->
          <img
            class="space"
            src="/Images/2 Img.jpg"
            alt="nothing"
            style="width: 100%"
          />
          &nbsp;
          <!-- </div> -->
          <!-- <div class="pic"> -->
          <img
            class="space"
            src="/Images/3 Img.jpg"
            alt="nothing"
            style="width: 100%"
          />
          &nbsp;
        </div>
      </div>
    </center>
  </body>

  <script src="/javascript/javascript.js"></script>

</html>
