<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>ABOUT</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- <script src="JavaScript.js"></script> -->
    <style>
      h1 {
        padding-top: 40px;
        font-size: 50px;
      }
      h2 {
        font-family: Noto;
        font-size: 60px;
      }
      /* Footer */

      footer {
        background-color: #787c81;
      }
    </style>
  </head>
  <body>
    
   
    <main>
      <section class="about-us">
        <div class="about">
          <img src="/Images/Contact.jpg" class="pic" />
          <div class="text">
            <h2>About Us</h2>
            <h5>Spring Winter 2023 <span>Watches</span></h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
              natus ad sed harum itaque ullam enim quas, veniam accusantium,
              quia animi id eos adipisci iusto molestias asperiores explicabo
              cum vero atque amet corporis! Soluta illum facere consequuntur
              magni. Ullam dolorem repudiandae cumque voluptate consequatur
              consectetur, eos provident necessitatibus reiciendis corrupti!
            </p>
            <div class="data">
              <a href="#" class="hire">SHOP THE LOOK</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <center>
      <footer>
        <p>&copy; 2023 Lexxiv. Design By IRSHA.com</p>
      </footer>
    </center>

    <!-- <div class="foot">
        <center>
          <li><a href="@design by Irsha.com">@design BY IRSHA.com</a></li>
        </center>
      </div> -->
  </body>
  <script src="/javascript/javascript.js"></script>
</html>
